 /* General Styling */
 * {

    box-sizing: border-box;
    overflow-x: clip;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    padding: 15px 0;
    text-align: center;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px;
    background: rgba(255, 255, 255, 0.1);
    z-index: 1000;
    backdrop-filter: blur(10px);
    transition: background 0.3s ease;
}

nav.active {
    background: rgba(255, 255, 255, 0.1);
}

/* Logo */
.logo {
    font-size: 1.8rem;
    font-weight: 700;
    color: #272626;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

/* Navbar Links */
nav ul {
    list-style: none;
    display: flex;
    gap: 35px;
}

nav ul li {
    position: relative;
}

nav ul li a {
    color: #000;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
    gap: 8px;
}

nav ul li a:hover {
    color: #007bff;
}

nav ul li a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #007bff;
    transition: width 0.3s ease;
}

nav ul li a:hover::after {
    width: 100%;
}

/* CTA Button */
.cta-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #0056b3;
}

/* Hamburger Icon (Mobile) */
.menu-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

/* Mobile Responsiveness */
@media (max-width: 868px) {
    nav ul {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 80px;
        left: 0;
        width: 100%;
        height: calc(100% - 80px);
        background-color: rgba(255, 255, 255, 0);
        padding-top: 20px;
        align-items: center;
    }

    nav ul.active {
        display: flex;
    }

    .menu-icon {
        display: block;
        color: #000;
    }
}


/* Main content wrapper */
.main {
    transition: filter 0.3s ease;
}

/* Blur effect when menu is active */
.blur {
    filter: blur(5px);
    /* Adjust the blur radius as needed */
}

@media (min-width: 868px) {
    nav ul {
        display: flex !important;
    }
}

.main {
    margin-top: 8vh;
    margin-bottom: 10vh;
}

.banner {
    display: flex;
    flex-direction: column;
    background: url('bg.jpg') no-repeat center center;
    background-size: cover;
    color: rgb(0, 0, 0);
    padding: 100px 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh;
    width: 100vw;
    margin-bottom: 10vh;
}

.banner h1 {
    font-size: 48px;
    margin: 0;
}

.banner p {
    font-size: 24px;
}

.cta-button {
    background-color: #FF5722;
    border: 2px solid #FF5722;
    border-radius: 6px;
    color: white;
    padding: 9px 20px;
    text-decoration: none;
    font-size: 18px;
    margin-top: 20px;
    display: inline-block;
}

.cta-button:hover {
    background-color: #fe6c3f;
    border: 2px solid #fe6c3f;
    border-radius: 8px;
    color: white;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    height: 60vh;
    width: 90vw;
    padding: 60px 30px;
    text-align: center;
    background-color: white;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#intro p {
    font-size: 1.2rem;
}

#intro h2 {
    font-size: 2rem;
    font-weight: 700
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

.footer {
    position: relative;
    margin-top: 140px;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-icon,
.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
    list-style: none;
}

.social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

.social-icon__link:hover {
    transform: translateY(-10px);
}

.menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
}

.menu__link:hover {
    opacity: 1;
}

.footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
}

.wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("https://i.ibb.co/wQZVxxk/wave.png");
    background-size: 1000px 100px;
}

.wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
}

.wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
}

@keyframes animateWaves {
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-positon-x: 0px;
    }
}

@keyframes animate {
    0% {
        background-position-x: -1000px;
    }

    100% {
        background-positon-x: 0px;
    }
}

/* Responsive Styling */
@media (max-width: 1024px) {
    .banner {
        padding: 50px;
        gap: 14px;
    }

    .banner h1 {
        font-size: 36px;
    }

    .banner p {
        font-size: 18px;
    }

    .cta-button {
        padding: 8px 18px;
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    .banner {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .hero-text {
        max-width: 100%;
        padding-right: 0;
        margin-bottom: 30px;
    }

    .banner h1 {
        font-size: 32px;
    }

    .banner p {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .banner {
        padding: 15px;
    }

    .banner h1 {
        font-size: 28px;
    }

    .banner p {
        font-size: 14px;
    }

    .cta-button {
        padding: 7px 17px;
        font-size: 14px;
    }
}

/* Responsive Styling */
@media (max-width: 1024px) {
    #intro {
        padding: 50px;
        gap: 14px;
    }

    .banner h1 {
        font-size: 36px;
    }

    .banner p {
        font-size: 18px;
    }

    .cta-button {
        padding: 8px 18px;
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    .banner {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .hero-text {
        max-width: 100%;
        padding-right: 0;
        margin-bottom: 30px;
    }

    .banner h1 {
        font-size: 32px;
    }

    .banner p {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .banner {
        padding: 15px;
    }

    .banner h1 {
        font-size: 28px;
    }

    .banner p {
        font-size: 14px;
    }

    .cta-button {
        padding: 7px 17px;
        font-size: 14px;
    }
}